@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: var(--secondary-font);
  }

:root {
--primary-color: #70A288;
--text-dark: #255C99;
--text-secondary: #C03221;
--primary-font: "Permanent Marker", Arial, Helvetica;
--secondary-font: Roboto, sans-serif;
}

h1{
    font-family: var(--primary-font);
    color: var(--text-secondary);
    font-size: 50px;
    letter-spacing: 2px;
}

article h2{
    font-family: var(--primary-font);
    color: var(--text-dark);
    letter-spacing: 1px;
    font-size: 35px;
}

ul{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    list-style-type: none;
    justify-content: end;
    justify-items: end;
    border-bottom: var(--primary-color) solid 2px;
    border-top: var(--primary-color) solid 2px;
    padding: 20px;
    padding-right: 100px;
    margin-bottom: 40px;
}

a{
    color: var(--text-dark);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: var(--text-secondary);
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px;
}

.posts{
    grid-column: 1/2;
    text-align: right;
}

.filters{
    border: var(--primary-color) solid 2px;
    grid-column: 2/3;
}

article{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    padding-right: 40px;
    margin: 30px;
    margin-top: 70px;
}

.ages, .date, .genre, .stars, .date{
    padding-right: 15px;
    margin-bottom: -15px;

}

.title, .description{
    grid-column: 2/3;
    text-align: left;
    padding-left: 20px;
}


.book_synopsis img{
    margin-top: -20px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.details{
    grid-row: 1/2;
    margin-top: -20px;
    border-right: var(--primary-color) solid 2px;
    font-size: 20px;
}

article p a{
    font-size: 18px;
}

.date {
    font-size: 25px;
}

.title{
    margin-top: -12px;
}

.description{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -10px;
    font-size: 18px;
}

.skiptocontent a{
    position: absolute;
    top: -500px;
    left: 0;
    justify-content: left;
    background-color: #7B2D26;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

.skiptocontent a:focus{
    top: 10px;
    left: 5px;
}
